<div class="center hero-unit">
    <h1>GameKnights</h1>
    
    <h2>
        Track things
    </h2>
    
    <%= link_to "Create an account", signup_path, class: "btn btn-large btn-primary" %>
</div>
